flows_OdinA-SilverX1.json
[{"id":"6ccf6bba.87f984","type":"tab","label":"Charts","disabled":false,"info":""},{"id":"5bacd392.4688bc","type":"tab","label":"Panic","disabled":false,"info":""},{"id":"b3cb4bd4.a80e28","type":"websocket-listener","z":"","path":"/WS1","wholemsg":"false"},{"id":"7ec7b0f9.bb7a6","type":"websocket-listener","z":"","path":"/ws1","wholemsg":"false"},{"id":"fbb7e5a7.783ad8","type":"ui_tab","z":"","name":"Home","icon":"fa-fire","order":1,"disabled":false,"hidden":false},{"id":"f2c9cc1.73b8f3","type":"ui_group","z":"","name":"Red","tab":"543bf2d8.2684ac","order":3,"disp":true,"width":"6","collapse":false},{"id":"e08a6e3e.3d15a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Charter","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"none","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"35088e8e.2bb772","type":"ui_group","z":"","name":"Temp","tab":"543bf2d8.2684ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"543bf2d8.2684ac","type":"ui_tab","z":"","name":"Keg","icon":"mood","order":2,"disabled":false,"hidden":false},{"id":"a1df7533.874f38","type":"ui_group","z":"","name":"Gravity","tab":"fbb7e5a7.783ad8","order":2,"disp":true,"width":"6","collapse":true},{"id":"6707b43b.c97fbc","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"7a269454.43145c","type":"ui_group","z":"","name":"Group 3","tab":"fbb7e5a7.783ad8","order":3,"disp":false,"width":"16","collapse":false},{"id":"4f147805.5c3338","type":"inject","z":"5bacd392.4688bc","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["65e80cdc.8e3a64"]]},{"id":"65e80cdc.8e3a64","type":"http request","z":"5bacd392.4688bc","name":"gov quake site","method":"GET","ret":"txt","paytoqs":false,"url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","proxy":"","authType":"basic","x":170,"y":120,"wires":[["f5679258.0d4f4"]]},{"id":"f5679258.0d4f4","type":"csv","z":"5bacd392.4688bc","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":200,"y":200,"wires":[["df61751a.ed6c08","c5798d87.97e96"]]},{"id":"df61751a.ed6c08","type":"debug","z":"5bacd392.4688bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":220,"y":280,"wires":[]},{"id":"c5798d87.97e96","type":"switch","z":"5bacd392.4688bc","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":200,"y":360,"wires":[["a97834a4.8c9828"]]},{"id":"a97834a4.8c9828","type":"change","z":"5bacd392.4688bc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":420,"wires":[["aec2c867.574ee8"]]},{"id":"aec2c867.574ee8","type":"debug","z":"5bacd392.4688bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":200,"y":500,"wires":[]},{"id":"bd113412.3f2358","type":"http response","z":"5bacd392.4688bc","name":"","statusCode":"","headers":{},"x":200,"y":580,"wires":[]},{"id":"f4e83ce.85a3ec","type":"inject","z":"6ccf6bba.87f984","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["c8a4872c.fedf18"]]},{"id":"c8a4872c.fedf18","type":"function","z":"6ccf6bba.87f984","name":"dual random","func":"var sg = {};\nvar temp = {};\n\nsg.payload = 1 + (Math.random()/11);\nsg.payload = Number.parseFloat(sg.payload).toFixed(4);\nsg.topic = 'SG';\n\ntemp.payload = Math.round(Math.random()*100);\ntemp.topic = 'Temp';\n\nreturn [sg, temp];","outputs":2,"noerr":0,"x":140,"y":140,"wires":[["20e6d09.ecac63","52fcf009.50542","484ce256.7422fc","d5176d41.fb76c","2b024cfd.b5eeb4"],["20e6d09.ecac63","52fcf009.50542","5f92cb59.6067c4","773a3b45.dc60f4","a07e9284.948fa"]]},{"id":"20e6d09.ecac63","type":"ui_chart","z":"6ccf6bba.87f984","name":"","group":"f2c9cc1.73b8f3","order":0,"width":0,"height":0,"label":"Pi Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":140,"y":340,"wires":[[]]},{"id":"52fcf009.50542","type":"debug","z":"6ccf6bba.87f984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":80,"wires":[]},{"id":"773a3b45.dc60f4","type":"ui_chart","z":"6ccf6bba.87f984","name":"","group":"7a269454.43145c","order":1,"width":"10","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62929","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":220,"wires":[[]]},{"id":"d5176d41.fb76c","type":"ui_chart","z":"6ccf6bba.87f984","name":"","group":"7a269454.43145c","order":3,"width":"10","height":"6","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"1.1","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62929","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":280,"wires":[[]]},{"id":"5f92cb59.6067c4","type":"ui_gauge","z":"6ccf6bba.87f984","name":"","group":"7a269454.43145c","order":2,"width":"6","height":"6","gtype":"gage","title":"Temp Gauge","label":"F","format":"{{value}}","min":0,"max":"100","colors":["#5bb6d2","#00e641","#ca3838"],"seg1":"55","seg2":"75","x":670,"y":200,"wires":[]},{"id":"484ce256.7422fc","type":"ui_gauge","z":"6ccf6bba.87f984","name":"","group":"7a269454.43145c","order":4,"width":"6","height":"6","gtype":"gage","title":"Gravity Gauge","label":"SG","format":"{{value | number:4}}","min":"1.000","max":"1.1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1.015","seg2":"1.070","x":680,"y":260,"wires":[]},{"id":"a07e9284.948fa","type":"ui_chart","z":"6ccf6bba.87f984","name":"","group":"f2c9cc1.73b8f3","order":2,"width":"4","height":"4","label":"Temp","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":290,"y":380,"wires":[[]]},{"id":"2b024cfd.b5eeb4","type":"ui_chart","z":"6ccf6bba.87f984","name":"","group":"f2c9cc1.73b8f3","order":4,"width":"4","height":"4","label":"Gravity","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"1.099","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62929","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":200,"y":440,"wires":[[]]}]